language: node_js

sudo: false

os:
  - linux
  - windows

node_js:
  - "10"
  - "12"
  - "14"

cache: npm

matrix:
  fast_finish: true

after_success: if [[ "$TRAVIS_OS_NAME" != 'windows' ]]; then npm run flow; fi
